plugin load ~/.config/kak/lldb.kak.so
command script import ~/.local/share/lldb/qt/debugger/lldbbridge.py
# command script import ~/.local/share/lldb/kdevelop/all.py

settings set -f prompt-ansi-prefix ""
settings set -f prompt-ansi-suffix ""
settings set frame-format "{{${function.name-with-args} ${module.file.basename}{${frame.no-debug}}}}{ ${function.is-optimized} [opt]}{ ${frame.is-artificial} [artificial]}{ ${line.file.fullpath}:${line.number}{:${line.column}}}\n"
settings set frame-format-unique "{{${function.name-without-args} ${module.file.basename}{${frame.no-debug}}}}{ ${function.is-optimized} [opt]}{ ${frame.is-artificial} [artificial]}{ ${line.file.fullpath}:${line.number}{:${line.column}}}\n"
settings set prompt " "
settings set stop-line-count-after 0
settings set stop-line-count-before 0
settings set symbols.enable-lldb-index-cache true
settings set interpreter.echo-commands false
settings set target.skip-prologue true
settings set target.process.optimization-warnings true
# settings set target.prefer-dynamic-value run-target
# settings set target.enable-synthetic-value true
settings append target.process.thread.step-avoid-libraries libstdc++.so
settings append target.process.thread.step-avoid-libraries libQt6Core.so
settings append target.process.thread.step-avoid-libraries libQt6Gui.so
settings append target.process.thread.step-avoid-libraries libQt6Widgets.so
